h1{
  font-family: 'Lucida Sans';
}


.sidebar{
  width: 30%;
  float: left;
  background-color: yellow;
}
#a{
  background-color: maroon;
  color: white;
}
.span{
  font-family: 'Trebuchet MS';
  font-size: larger;
  font-style: italic;
  color: yellow;
}

