h1{
  font-family: 'Lucida Sans';
}


.sidebar{
  width: 30%;
  float: left;
  background-color: yellow;
}
#a{
  background-color: maroon;
  margin: 30%;
  padding: 30%;
  height: 100%;
  width: 50%;
}
.h4{
  font-family: 'Trebuchet MS';
  font-size: larger;
  font-style: italic;
}
p.body{
  color: white;
}